@import "tailwindcss";

:root {
  --font-sans-jp: 'Noto Sans JP', sans-serif;
  --font-sans-en: 'Inter', sans-serif;
}

body {
  font-family: var(--font-sans-jp), var(--font-sans-en), system-ui, -apple-system, sans-serif;
}